@page "/"
@using Petshop.App.Classes;
@inject PetStore store

<PageTitle>Pet Store</PageTitle>

<h1>Pet Store</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Feed</th>
            <th scope="col">Animal</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pet in store.Pets) 
        {
            <tr>

                <td>@pet.Name</td>
                <td>@pet.Feed</td>
                <td>@pet.Animal</td>

                <td> <button class="btn btn-success" @onclick="@(()=> store.Feed(pet.Id))" > Eat </button> </td>



            </tr>
        }
    </tbody>

    @*
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    *@

   
    @if(store.Message is not null)
    {

        <div class="alert alert-success d-flex fade show d-inline-flex p-2" role="alert">
          
           
             <strong>Feeding time!</strong> @store.Message
           
        </div>
     
    }
  
</table>

@code
{
    protected override async Task OnInitializedAsync() => await store.LoadPets();

   
}